<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <title>Lora Tracker</title>
</head>
<body>
    <header>
        <h1>Lora tracker platform</h1>
        
        <nav>
            <ul>
                <li><a href="">inicio</a></li>
                <li><a href="">Registro</a></li>
                <li><a href="">Opciones</a></li>
                <li><a href="">asdasd</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <div id="map">
        
        </div>
        <section id="data">
            <h2>Análisis de datos</h2>
            <hr>
            <div class="pathSelector">
                <div>
                    <label for="path">Seleccionar:</label>
                    <select name="path" id="path">
                        <option value="undef">Seleccionar</option>
                    </select>
                </div>
                <button>Nuevo</button> 
            </div>
            <table>
                <tr>
                    <th>Frame</th>
                    <th>Latitud</th>
                    <th>Longitud</th>
                    <th>Fecha</th>
                </tr>
                <tr>
                    <td>asd</td>
                    <td>asd2</td>
                    <td>asd3</td>
                    <td>asd4</td>
                </tr>
            </table>
            
        </section>
    </main>
    
    <script src="../node_modules/socket.io/client-dist/socket.io.js"></script>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="./js/mapScript.js"></script>
</body>

</html>