<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"/>
    <title>Lora Tracker</title>
</head>
<body>
    <header>
        <h1>Lora tracker platform</h1>
        
        <nav>
            <ul>
                <li><a href="">inicio</a></li>
                <li><a href="">Registro</a></li>
                <li><a href="">Opciones</a></li>
                <li><a href="">asdasd</a></li>
            </ul>
        </nav>
        <hr>
    </header>
    <main>
        <div id="map">
        
        </div>
        <section id="data">
            <h2>Análisis de datos</h2>
            <hr>
            
            <!--Here goes the table for the received positions-->

        </section>
    </main>
    

    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="./js/mapScript.js"></script>
</body>

</html>